.exam {
  width: 100%;
  padding: 1rem 2rem;
}

.exam .exam-title {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.exam .exam-links,
.exam .student-links {
  height: 80vh;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow-y: auto;
}

.exam .exam-links .btn,
.exam .student-links .btn {
  font-size: 1.25rem;
  padding: 1.25rem 0;
  width: 50%;
  margin: auto;
}

.exam .exam-links .btn:not(:last-child) {
  margin-bottom: 2rem;
}

.exam #submit-exam {
  width: 100%;
  margin-top: 1rem;
}

.exam #exam-questions .question {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0;
}

.exam #exam-questions .question .card-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.exam #exam-questions .question:not(:last-child) {
  margin-bottom: 1rem;
}

.select-exam {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-exam .card {
  padding: 1rem 1.5rem;
  font-size: 2rem;
}

.select-exam .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.25rem;
}

.select-exam .card .links .btn {
  font-size: 1.4rem;
  margin: auto;
}

.select-exam .card .btn:not(:last-child) {
  margin-bottom: 1rem;
}

#submit-exam-btn {
  width: 50%;
  margin: 1rem auto 0 auto;
}

.view-points {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.view-points *:nth-child(1),
.view-points *:nth-child(2) {
  margin-right: 0.5rem;
}

.view-points > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-case-credit,
.question-credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.test-case-credit {
  margin-top: 1rem;
}

.test-case-credit .item {
  justify-content: center;

  width: 100%;
  display: grid;
  grid-template-columns: 10rem repeat(2, 5rem) repeat(2, 10rem);
  grid-column-gap: 1rem;

  margin-top: 1rem;
}

.total-credit input {
  text-align: center;
}

.total-credit,
.question-credit .item {
  justify-content: center;

  width: 100%;
  display: grid;
  grid-template-columns: 10rem repeat(2, 5rem);
  grid-column-gap: 1rem;

  margin-top: 1rem;
}

.total-credit > *,
.test-case-credit .item h3,
.question-credit .item h3,
.test-case-credit .item h4,
.question-credit .item h4 {
  display: flex;
  justify-self: center;
  align-self: center;
}

.test-case-credit .item input,
.question-credit .item input {
  text-align: end;
}

.total-credit {
  margin-top: 1.5rem;
}

.total-credit h3 {
  justify-self: end;
}
