.exam {
  width: 100%;
  padding: 2rem;
}

.exam .exam-title {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.exam .exam-links {
  height: 80vh;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow-y: auto;
}

.exam .exam-links .btn {
  font-size: 1.25rem;
  padding: 1.25rem 0;
  width: 50%;
  margin: auto;
}

.exam .exam-links .btn:not(:last-child) {
  margin-bottom: 2rem;
}

.exam #submit-exam {
  width: 100%;
  margin-top: 1rem;
}

.exam #exam-questions .question {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0;
}

.exam #exam-questions .question .card-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.exam #exam-questions .question:not(:last-child) {
  margin-bottom: 1rem;
}
