@import 'variables';

// CSS Reset
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  color: var(--text-dark);
}

.hidden {
  display: none;
}

// utils
@import 'button';
@import 'card';
@import 'input';
@import 'modal';

// components
@import '../login/login.scss';
