@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

a:disabled {
  background-color: #a0a6ab !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #157ffb;
  border: 0;
  border-radius: 0.15rem;
  width: 100%;
  text-align: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0466d9;
}

.btn:active {
  box-shadow: inset 0 0 100px #034fa7;
}

.btn:disabled {
  background-color: #a0a6ab !important;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
}

.btn-secondary:active {
  box-shadow: inset 0 0 100px #3d4246;
}

.btn-success {
  background-color: #30a54a;
}

.btn-success:hover {
  background-color: #257d38;
}

.btn-success:active {
  box-shadow: inset 0 0 100px #195627;
}

.btn-danger {
  background-color: #d93749;
}

.btn-danger:hover {
  background-color: #ba2334;
}

.btn-danger:active {
  box-shadow: inset 0 0 100px #8f1b28;
}

.btn-warning {
  color: #343a40;
  background-color: #fdc02e;
}

.btn-warning:hover {
  background-color: #f6ae02;
}

.btn-warning:active {
  box-shadow: inset 0 0 100px #c38a02;
}

.card {
  background: #fbfbfb;
  border: 0.05rem solid #dadee4;
  border-radius: 0.15rem;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: auto;
  width: 100%;
  padding: 0.25rem 0.4rem;
}

.card-title, .card-body, .card-footer {
  padding: 0.8rem;
  padding-bottom: 0;
}

.card-title:last-child, .card-body:last-child, .card-footer:last-child {
  padding-bottom: 0.8rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #3b4350;
}

.card .card-image {
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
}

.card .card-image:first-child {
  padding-top: 0;
}

.card .card-image:first-child img {
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.card .card-image:last-child img {
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

input,
textarea {
  color: #3b4350;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.15rem;
}

input:focus,
  textarea:focus {
  border-color: #8285dd;
  box-shadow: inset 0 0 0 0.1rem rgba(21, 127, 251, 0.25);
}

input:required:focus,
  textarea:required:focus {
  border-color: #d93749;
  box-shadow: 0 0 0 0.1rem rgba(217, 55, 73, 0.25);
}

input:disabled,
  textarea:disabled {
  background: #e9ecef;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
}

.custom-select {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.25rem;
  padding: 0.75rem 0.5rem;
}

.custom-select select,
  .custom-select .fa-sort-down {
  display: flex;
  align-items: center;
  color: #3b4350;
  font-size: 1rem;
  font-weight: 600;
}

.custom-select select {
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  -webkit-appearance: none;
}

.custom-select select:focus {
  outline: none;
}

.custom-select .fa-sort-down {
  margin-bottom: 0.25rem;
}

.modal {
  background: rgba(43, 43, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 
  #description > textarea {
    height: 142px;
  }
 */;
}

.modal-header {
  color: #3b4350;
  margin: 1rem 0 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.modal .card {
  padding: 0;
  width: 95vw;
  height: 95vh;
  max-height: 90vh;
  z-index: 999;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.modal .card-title {
  height: 5vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.modal .card-title button:first-child {
  visibility: hidden;
}

.modal .card-title > div,
      .modal .card-title > button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.modal .form-group label {
  color: #3b4350;
  font-size: 1.25rem;
  font-weight: 600;
}

.modal .form-group input {
  font-size: 1.25rem;
}

.modal .form-group:not(:first-child) {
  margin-top: 1rem;
}

.modal .topic-difficulty {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin-top: 1rem;
}

.modal .topic-difficulty > .form-group {
  margin: 0;
}

.modal .constraints {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 1rem auto 1rem auto;
  font-size: 1.25rem;
  font-weight: 600;
}

.modal .constraints .item {
  margin-left: 1rem;
  cursor: pointer;
}

.modal .test-cases {
  height: 20vh;
  max-height: 20vh;
  overflow: auto;
}

.modal .test-cases .test-case, .modal .test-cases-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.modal .test-cases > input {
  text-align: center;
}

.modal .test-cases-header {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.modal .test-cases-header input {
  text-align: center;
  background: transparent;
  border: none;
  user-select: none;
}

@media (min-width: 992px) {
  .modal .card {
    width: 75vw;
    height: 95vh;
    max-height: 95vh;
  }

  .modal .constraints {
    width: 75% !important;
  }
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100vh;
  max-height: 100vh;
}

.split-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.split-item:first-child {
  border-right: 0.25rem solid #ccc;
}

.split textarea {
  overflow: visible;
}

.split .card {
  width: 95%;
  height: 95vh;
  max-height: 95vh;
  overflow: auto;
}

.split #filter-box {
  display: grid;
  grid-template-columns: 0.8fr repeat(3, auto);
  grid-column-gap: 0.125rem;
}

.split .new-question .form {
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 0.5rem;
    /* 
      textarea {
        height: 142px;
      }
      */;
}

.split .new-question .seperator {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3b4350;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.split .new-question .constraints {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 1rem auto;
  font-size: 1.25rem;
  font-weight: 600;
}

.split .new-question .constraints .item {
  margin-left: 1rem;
  cursor: pointer;
}

.split .new-question .test-cases {
  height: 34vh;
  max-height: 34vh;
  overflow: auto;
}

.split .new-question .test-cases .test-case {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-column-gap: 0.5rem;
  margin-right: 0.5rem;
}

.split .new-question .test-cases .test-case:not(:first-child) {
  margin-top: 0.5rem;
}

.split .new-question .form-actions {
  margin-top: 0.5rem;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.split .question-bank {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.split .question-bank > .question, .split .question-bank-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  grid-column-gap: 0.25rem;
}

.split .question-bank > .question:not(:first-child), .split .question-bank-header:not(:first-child) {
  margin-top: 0.25rem;
}

.split .question-bank > .question {
  text-align: center;
}

.split .question-bank > .question > input:nth-child(2), .split .question-bank > .question > input:nth-child(3) {
  text-align: center;
}

.split .question-bank-header input {
  color: #3b4350;
  background: transparent;
  border: none;
  padding: 0.5rem !important;
  text-align: center;
}

.split .exam-name {
  width: 100%;
  margin: 1rem auto;
}

.split .exam-bank {
  height: 65vh;
  max-height: 65vh;
  overflow: auto;
}

.split .exam-bank .question {
  display: grid;
  grid-template-columns: 1fr 0.5fr auto auto;
  grid-column-gap: 0.25rem;
}

.split .exam-bank .question:not(:first-child) {
  margin-top: 0.25rem;
}

.split .exam-bank-header {
  display: grid;
  grid-template-columns: 1fr 0.5fr auto auto;
  grid-column-gap: 0.25rem;
  margin-top: 0.25rem;
}

.split .exam-bank-header input {
  color: #3b4350;
  background: transparent;
  border: none;
  padding: 0.5rem !important;
  text-align: center;
}

.split .exam-submit {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .split .constraints {
    width: 75% !important;
  }
}

html,
body {
  font-family: 'Roboto', sans-serif, 'Segoe UI', Tahoma;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #282c34;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
select,
input,
button {
  outline: none;
}

.hidden {
  display: none !important;
}
