.btn {
  font-size: 1rem;
  color: #fff;
  background-color: #585ad6;
  border: 0;
  border-radius: 0.15rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 0;
  padding: 0.66667rem 2.5rem 0.66667rem 2.5rem;
}

.btn:hover {
  background-color: #3134ca;
}

.btn:active {
  box-shadow: inset 0 0 100px #2729a1;
}

.btn-success {
  background-color: #30a54a;
}

.btn-success:hover {
  background-color: #257d38;
}

.btn-success:active {
  box-shadow: inset 0 0 100px #195627;
}

.btn-warning {
  color: #343a40;
  background-color: #fdc02e;
}

.btn-warning:hover {
  background-color: #f6ae02;
}

.btn-warning:active {
  box-shadow: inset 0 0 100px #c38a02;
}

.btn-warning {
  color: #343a40;
  background-color: #fdc02e;
}

.btn-warning:hover {
  background-color: #f6ae02;
}

.btn-warning:active {
  box-shadow: inset 0 0 100px #c38a02;
}

.card {
  background: #fbfbfb;
  border: 0.05rem solid #dadee4;
  border-radius: 0.15rem;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: auto;
  width: 100%;
  padding: 0.25rem 0.4rem;
}

.card-title, .card-body, .card-footer {
  padding: 0.8rem;
  padding-bottom: 0;
}

.card-title:last-child, .card-body:last-child, .card-footer:last-child {
  padding-bottom: 0.8rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #3b4350;
}

.card .card-image {
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
}

.card .card-image:first-child {
  padding-top: 0;
}

.card .card-image:first-child img {
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.card .card-image:last-child img {
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

input,
textarea {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dfe1e5;
  border-radius: 0.15rem;
}

input:focus,
  textarea:focus {
  border-color: #8285dd;
  box-shadow: inset 0 0 0 0.1rem rgba(88, 90, 214, 0.75);
}

.custom-select {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 1.3;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color: #585ad6;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  outline: 1px inset #fff;
  outline-offset: -1px;
}

.custom-select option {
  font-weight: normal;
}

html,
body {
  font-family: 'Roboto', sans-serif, 'Segoe UI', Tahoma;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #282c34;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
select,
input,
button {
  outline: none;
}
