.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .card {
  padding: 1rem 1.5rem;
  font-size: 1.75rem;
}

.home .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.25rem;
}

.home .card .btn {
  font-size: 1.25rem;
}

.home .card .btn:not(:last-child) {
  margin-bottom: 1rem;
}
