.home {
  height: 100vh;
  max-height: 100vh;
  width: 100%;

  overflow: hidden;
}

.home .title {
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .title > h1,
.home .title > h2 {
  color: #fff;
  margin: 0;
}

.home .title h2 {
  margin-top: 1rem;
}

.home .links {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .links .btn {
  margin: 2rem auto;

  height: auto;
  font-size: 1.5rem;
  width: 35vw;
}
