@import 'variables';

@mixin button-bg($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 10);
  }

  &:active {
    box-shadow: inset 0 0 100px darken($color, 20);
  }
}

.btn {
  font-size: 1rem;
  color: #fff;
  @include button-bg($primary);
  border: 0;
  border-radius: 0.15rem;
  width: 100%;

  $btn-padding: 1rem;
  padding: 0;
  // padding: $btn-padding/1.5 $btn-padding * 2.5 $btn-padding/1.5 $btn-padding *
  //   2.5;

  // &:not(last-child) {
  //   margin-right: 1rem;
  // }

  &-success {
    @include button-bg($success);
  }

  &-warning {
    color: $dark-gray;
    @include button-bg($warning);
  }

  &-warning {
    color: $dark-gray;
    @include button-bg($warning);
  }
}
