.card {
  background: #fbfbfb;
  background: #fbfbfb;
  border: 0.05rem solid lighten(#303742, 65%);
  border-radius: 0.15rem;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: auto;
  width: 100%;

  &-title,
  &-body,
  &-footer {
    padding: 0.8rem;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: 0.8rem;
    }
  }

  &-title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
  }

  .card-image {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;

    &:first-child {
      padding-top: 0;

      img {
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
      }
    }
  }
}
