.exam {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  // view / take exam card
  .card {
    width: 95%;
    height: 95%;
    max-height: 95%;

    &-title {
      height: 7.5vh;
      padding-top: 2.5vh;
    }

    .questions {
      height: 75vh;
      max-height: 75vh;
      overflow: auto;

      .question {
        border: 0.05rem solid lighten(#303742, 65%);
        border-radius: 0.15rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        height: auto;
        width: 100%;
        padding: 0.25rem 0.4rem;

        .points {
          font-size: 1.25rem;
          font-weight: 600;
        }

        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }

  &-title {
    height: 5vh;
  }

  &-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;

    .title {
      height: 5vh;
      margin: 2.5vh 0;
      color: #fbfbfb;
      font-size: 2em;
      text-align: center;
    }

    .container {
      height: 76vh;
      max-height: 76vh;
      width: 50%;
      margin: 0 auto 0 auto;
      overflow-y: auto;

      .btn {
        font-size: 2rem;

        &:not(:first-child) {
          margin-top: 5%;
        }
      }
    }
  }

  @media (min-width: 992px) {
    //
  }
}
