@import 'variables';

input,
textarea {
  color: #3b4350;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.15rem;

  &:focus {
    border-color: #8285dd;
    box-shadow: inset 0 0 0 0.1rem rgba(88, 90, 214, 0.75);
  }

  &:required:focus {
    border-color: $danger;
    box-shadow: 0 0 0 0.1rem rgba(217, 55, 73, 0.85);
  }

  &:disabled {
    background: #e9ecef;
  }
}

textarea {
  resize: vertical;
}

.custom-select {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;

  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.25rem;
  padding: 0.75rem 0.5rem;

  select,
  .fa-sort-down {
    display: flex;
    align-items: center;

    color: #3b4350;
    font-size: 1rem;
    font-weight: 600;
  }

  select {
    width: 100%;
    height: auto;

    background: transparent;
    border: none;

    // hide default appearance
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  .fa-sort-down {
    margin-bottom: 0.25rem;
  }
}
