@import 'variables';

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $light-gray;
  outline: 0;
  font-size: 1rem;
  color: #212121;
  padding: 0.5rem 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .form-label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.6rem;
  color: $gray;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.6rem;
    color: $gray;
    color: $primary;
  }
  padding-bottom: 0.375rem;
  border-bottom: 2px solid $primary;
}
