.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 350px;
}

// .login {
//   display: block;
//   height: 100%;
//   max-width: 20rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .card {
//     width: 100%;
//     padding: 0.5rem 1rem;
//     border-radius: 0.25rem;

//     &-image {
//       margin: auto;
//     }

//     &-title {
//       text-align: center;
//     }

//     .btn {
//       width: 100%;
//     }
//   }
// }
