.modal {
  background: rgba(43, 43, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &-header {
    color: #3b4350;
    margin: 1rem 0 0.75rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
  }

  .card {
    padding: 0;
    width: 75vw;
    height: 85vh;
    max-height: 85vh;
    overflow: auto;
    z-index: 999;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);

    &-body {
      margin-top: 10vh;
    }

    &-title {
      width: 75vw;
      height: 10vh;
      max-height: 10vh;
      overflow: hidden;
      background: #fbfbfb;
      position: fixed;

      display: grid;
      grid-template-columns: auto 1fr auto;

      button:first-child {
        visibility: hidden;
      }

      & > div,
      & > button {
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }
  }

  .form-group {
    label {
      color: #3b4350;
      font-size: 1.25rem;
      font-weight: 600;
    }

    input {
      font-size: 1.25rem;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .topic-difficulty {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    margin-top: 1rem;

    & > .form-group {
      margin: 0;
    }
  }

  .constraints {
    width: 75%;
    margin: 2rem 7.5% 2rem 17.5%;
    color: #3b4350;
    font-size: 1.25rem;
    font-weight: 600;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    & > div {
      cursor: pointer;

      &:not(:first-child) {
        margin-top: 0.25rem;
      }
    }
  }

  .test-cases {
    & > .test-case,
    &-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    & > input {
      text-align: center;
    }

    &-header {
      font-size: 1.5rem;
      margin-bottom: 0.25rem;

      input {
        text-align: center;
        background: transparent;
        border: none;
        user-select: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .modal {
    .card {
      width: 60vw;
      height: 85vh;
      max-height: 85vh;

      &-title {
        width: 60vw;
      }
    }
  }
}
