.modal {
  background: rgba(43, 43, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &-header {
    color: #3b4350;
    margin: 1rem 0 0.75rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
  }

  .card {
    padding: 0;
    width: 95vw;
    height: 95vh;
    max-height: 90vh;
    z-index: 999;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
    // overflow: auto;

    &-title {
      height: 5vh;
      display: grid;
      grid-template-columns: auto 1fr auto;

      button:first-child {
        visibility: hidden;
      }

      & > div,
      & > button {
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }
  }

  .form-group {
    label {
      color: #3b4350;
      font-size: 1.25rem;
      font-weight: 600;
    }

    input {
      font-size: 1.25rem;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .topic-difficulty {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    margin-top: 1rem;

    & > .form-group {
      margin: 0;
    }
  }

  /* 
  #description > textarea {
    height: 142px;
  }
 */

  .constraints {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

    margin: 1rem auto 1rem auto;

    font-size: 1.25rem;
    font-weight: 600;

    .item {
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  .test-cases {
    // background: red;
    height: 20vh;
    max-height: 20vh;

    overflow: auto;

    .test-case,
    &-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    & > input {
      text-align: center;
    }

    &-header {
      font-size: 1.5rem;
      margin-bottom: 0.25rem;

      input {
        text-align: center;
        background: transparent;
        border: none;
        user-select: none;
      }
    }
  }

  @media (min-width: 992px) {
    & {
      .card {
        width: 75vw;
        height: 95vh;
        max-height: 95vh;
      }

      .constraints {
        width: 75% !important;
      }
    }
  }
}
