// Split Screen View
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100vh;
  max-height: 100vh;

  &-item {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-right: 0.25rem solid #ccc;
    }
  }

  textarea {
    overflow: visible;
  }

  .card {
    width: 95%;
    height: 95vh;
    max-height: 95vh;

    overflow: auto;
  }

  #filter-box {
    display: grid;
    grid-template-columns: 0.8fr repeat(3, auto);
    grid-column-gap: 0.125rem;
  }

  .new-question {
    .form {
      height: 30vh;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-gap: 0.5rem;

      /* 
      textarea {
        height: 142px;
      }
      */
    }

    .seperator {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #3b4350;
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      text-decoration: underline;
    }

    .constraints {
      height: 10vh;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;

      margin: 1rem auto;

      font-size: 1.25rem;
      font-weight: 600;

      .item {
        margin-left: 1rem;
        cursor: pointer;
      }
    }

    .test-cases {
      height: 34vh;
      max-height: 34vh;
      overflow: auto;

      .test-case {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-column-gap: 0.5rem;
        margin-right: 0.5rem;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }

    .form-actions {
      margin-top: 0.5rem;
      grid-column: span 2;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0.5rem;
    }
  }

  .question-bank {
    height: 100%;
    max-height: 100%;
    overflow: auto;

    & > .question,
    &-header {
      display: grid;
      grid-template-columns: repeat(3, 1fr) auto;
      grid-column-gap: 0.25rem;

      &:not(:first-child) {
        margin-top: 0.25rem;
      }
    }

    & > .question {
      text-align: center;

      & > input {
        &:nth-child(2),
        &:nth-child(3) {
          text-align: center;
        }
      }
    }

    &-header {
      input {
        color: #3b4350;
        background: transparent;
        border: none;
        padding: 0.5rem !important;
        text-align: center;
      }
    }
  }

  .exam {
    &-name {
      width: 100%;
      margin: 1rem auto;
    }

    &-bank {
      height: 65vh;
      max-height: 65vh;
      overflow: auto;

      .question {
        display: grid;
        grid-template-columns: 1fr 0.5fr auto auto;
        grid-column-gap: 0.25rem;

        &:not(:first-child) {
          margin-top: 0.25rem;
        }
      }
    }

    &-bank-header {
      display: grid;
      grid-template-columns: 1fr 0.5fr auto auto;
      grid-column-gap: 0.25rem;
      margin-top: 0.25rem;

      input {
        color: #3b4350;
        background: transparent;
        border: none;
        padding: 0.5rem !important;
        text-align: center;
      }
    }

    &-submit {
      margin-top: 1rem;
    }
  }

  @media (min-width: 992px) {
    .constraints {
      width: 75% !important;
    }
  }
}
