.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 2px;

  text-align: center;
  padding: 0.75rem 1rem;
}

.btn:disabled {
  background: #5b6268;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary {
  background: var(--secondary);
}

.btn-success {
  background: var(--success);
}

.btn-danger {
  background: var(--danger);
}

.btn-warning {
  background: var(--warning);
}

.btn-info {
  background: var(--info);
}
