.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  width: auto;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-title,
.card-body,
.card-footer {
  padding: 0.75rem 0;
}

.card-title {
  color: var(--text-dark);
}
