// global styles

@import 'variables';

// components
@import 'buttons';
@import 'cards';
@import 'forms';

// css reset
html,
body {
  font-family: 'Roboto', sans-serif, 'Segoe UI', Tahoma;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #282c34;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
select,
input,
button {
  outline: none;
}
