@import './button.css';
@import './card.css';
@import './input.css';

/* components */
@import '../modal/modal.css';
@import '../login/login.css';
@import '../home/home.css';

/* variables */
:root {
  --primary: #007ee5;
  --secondary: #6c757d;
  --success: #30a54a;
  --danger: #d93749;
  --warning: #fdc02e;
  --light-gray: #d2d2d2;
  --gray: #6c757d;
  --dark-gray: #343a40;
  --text-dark: #3b4351;
}

/* css reset */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  color: var(--text-dark);
  background: #2c3037; /* default BG */
}

.hidden {
  display: none;
}

a {
  text-decoration: none !important;
}

/* disabled links */
a:disabled {
  background-color: #a0a6ab !important;
}
