.modal-box {
  background: rgba(43, 43, 43, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box .title {
  display: flex;
  justify-content: center;
}

.modal-box .card {
  width: 65%;
  z-index: 2;

  padding: 1rem;
}

.modal-box .card-title {
  padding-bottom: 0;
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

.modal-box .card-title > * {
  display: flex;
  justify-content: center;
}

.modal-box .card-body {
  height: 75%;
  width: 75%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-box .card-footer {
  padding: 0;
}

.modal-box .card-footer .btn {
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  font-size: 0.9rem;
}

/* question modal */

.modal-box .question-info .card-body {
  width: 100%;
  padding: 0 1rem;

  display: block;
}

.modal-box .question-info .card-body .form-group {
  margin-bottom: 0.5rem;
}

.modal-box .question-info .constraints {
  display: flex;
  flex-direction: column;

  padding: 1rem 25%;
}

.modal-box .question-info .constraints h3 {
  display: flex;
  justify-content: center;
}

.modal-box .question-info .constraints h3:before {
  content: '✔️';
  padding-right: 0.5rem;
}

.modal-box .question-info .constraints h3:not(:last-child) {
  margin-bottom: 0.5rem;
}

.modal-box .question-info .constraints .btn[disabled] {
  background: var(--primary);
}

.modal-box .question-info .test_cases_title,
.modal-box .question-info .test_cases #test_case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
}

.modal-box .question-info .test_cases_title h2,
.modal-box .question-info .test_cases_title #test_case input {
  display: flex;
  justify-content: center;
}

.modal-box .question-info .test_cases_title {
  margin-bottom: 0.5rem;
}

.modal-box .question-info #test_case {
  margin-bottom: 0.5rem;
}
